@font-face {
  font-family: "BioRhyme-Bold";
  font-weight: bold;
  src: url(fonts/BioRhyme-Bold.otf);
}

@font-face {
  font-family: "Enriqueta-Bold";
  font-weight: bold;
  src: url(fonts/Enriqueta-Bold.otf);
}

@font-face {
  font-family: "Enriqueta";
  src: url(fonts/Enriqueta-Regular.otf);
}

img {
  height: auto;
  width: 90vw;
}

.home {
  background: url(images/home_background.png) no-repeat;
  background-size: cover;
}

.initiatief {
  background: url(images/initiatief_background.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.contact {
  background: url(images/home_background.png) no-repeat;
  background-size: cover;
}

h1 {
  font-family: "BioRhyme-Bold";
  font-size: 2rem;
  margin: 0;
  color: #009245;
  padding-left: 1.5rem;
}

h2 {
  font-family: "Enriqueta-Bold";
  color: #63b00b;
  margin: 0;
  font-size: 1.5rem;
}

a {
    font-family: "Enriqueta-Bold";
    color: white;
    background-color: #009245;
    border-radius: 1em;
    font-size: 1.2em;
    padding: 0.5rem 1.5rem;
    margin: 0.2rem;
    text-decoration: none;
}

.initiatief article {
  margin-bottom: 3.8rem;
}

.tekst {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

#tekst1 {
  padding-right: 4rem;
}

#tekst2 {
  padding-left: 5rem;
  padding-right: 1.5rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
}

#tekst3 {
    padding-right: 4rem;
  }

section {
  display: flex;
  flex-direction: column;
}

section p {
  font-family: "Enriqueta";
  font-size: 0.8rem;
  margin: 0;
}

#meer {
  padding-top: 3.5rem;
}

.maps {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.maps h2 {
  padding-left: 1rem;
}

iframe {
  width: 90vw;
  height: 15vh;
  border: 0.1rem solid black;
  border-radius: 1rem;
}

.home footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 7.2rem;
}

.initiatief footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.contact footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4.5rem;
}

footer p {
  font-size: 0.75rem;
}
